.text-icon-button {
    --bg: var(--white);
    --text: var(--black);
    --icon-frame: var(--black);
    --icon: var(--off-white);

    --button-padding: 5px;
    --button-height: 40px;
    --text-padding-x: 12px;

    --text-size: 16px;

    --icon-wrap-size: calc(var(--button-height) - var(--button-padding) * 2);

    --transition: 0.35s cubic-bezier(0.23, 1, 0.32, 1);
    // --transition: 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);

    width: max-content;
    background-color: var(--bg);
    border-radius: var(--radius-sm);

    cursor: pointer;
    overflow: hidden;

    transition: var(--transition);

    &.full {
        width: 100%;
    }

    .content {
        position: relative;

        width: max-content;
        height: var(--button-height);

        padding: var(--button-padding);
        display: flex;
        align-items: center;

        transition: var(--transition);

        &::before {
            content: attr(data-text);
            position: absolute;
            top: 50%;
            right: calc(100% - var(--button-padding));
            translate: 0 -50%;

            opacity: 0;
        }

        &:has(.icon-wrap) {
            right: cal;
        }

        &::before,
        .text {
            color: var(--text);
            font-size: var(--text-size);
            font-weight: 600;
            font-family: 'Manrope';
            // letter-spacing: -0.05em;
            // text-transform: uppercase;
            white-space: nowrap;

            padding-inline: var(--text-padding-x);

            transition: var(--transition);
        }

        .text {
            padding-inline: var(--text-padding-x);
            opacity: 1;
        }

        .icon-wrap {
            height: 100%;
            aspect-ratio: 1;
            background-color: var(--icon-frame);
            border-radius: 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            color: var(--icon);

            transition: var(--transition);
        }
    }

    &:hover {
        scale: 0.97;

        .content {
            translate: calc(100% - var(--button-padding) * 2) 0;
            &:has(.icon-wrap) {
                translate: calc(100% - var(--icon-wrap-size) - var(--button-padding) * 2) 0;
            }

            &::before {
                opacity: 1;
            }

            .icon-wrap {
                opacity: 1;
            }

            .text {
                opacity: 0;
            }
        }
    }

    &.accent {
        --bg: var(--accent);
        --text: var(--white);
        --icon-frame: var(--white);
        --icon: var(--accent);
    }

    &.white {
        --bg: var(--white);
        --text: var(--black);
        --icon-frame: var(--black);
        --icon: var(--white);
    }

    &.off-white {
        --bg: var(--off-white);
        --text: var(--black);
        --icon-frame: var(--black);
        --icon: var(--off-white);
    }

    &.black {
        --bg: var(--black);
        --text: var(--white);
        --icon-frame: var(--white);
        --icon: var(--black);
    }
    &.small {
        --button-height: 28px;
        --text-padding-x: 8px;
        --text-size: 12px;
    }
}
